In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
test = pd.read_csv('test_8i3B3FC.csv')

In [44]:
print(test.isnull().sum())

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [45]:
df = test.drop('ID', axis=1)

In [46]:
df.head()

  Tag  Reputation  Answers  Username    Views
0   a      5645.0      3.0     50652  33200.0
1   c     24511.0      6.0     37685   2730.0
2   i       927.0      1.0    135293  21167.0
3   i        21.0      6.0    166998  18528.0
4   i      4475.0     10.0     53504  57240.0

In [47]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [48]:
LEncoder = LabelEncoder()
OHEncoder = OneHotEncoder(sparse=False)

In [49]:
X_2 = df.select_dtypes(include=[object])
X_2.head()
X_Tag = X_2.apply(LEncoder.fit_transform)

In [50]:
OHEncoder.fit(X_Tag)
tag_encoded = OHEncoder.transform(X_Tag)

In [51]:
newtags = []
for i in range(10):
    newtags.append("Tag%d" %i)

In [52]:
newtags

['Tag0',
 'Tag1',
 'Tag2',
 'Tag3',
 'Tag4',
 'Tag5',
 'Tag6',
 'Tag7',
 'Tag8',
 'Tag9']

In [53]:
tag_encoded_df = pd.DataFrame(tag_encoded, columns=newtags)
tag_encoded_df.drop('Tag9', axis=1, inplace=True)

In [54]:
tag_encoded_df.head()

   Tag0  Tag1  Tag2  Tag3  Tag4  Tag5  Tag6  Tag7  Tag8
0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0
3   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0
4   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0

In [55]:
df.drop('Tag', axis=1, inplace=True)

In [56]:
Xtest = pd.concat([df, tag_encoded_df], axis=1)

In [57]:
Xtest.head(10)

,Reputation,Answers,Username,Views,Tag0,Tag1,Tag2,Tag3,Tag4,Tag5,Tag6,Tag7,Tag8
0,5645.0,3.0,50652,33200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24511.0,6.0,37685,2730.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,927.0,1.0,135293,21167.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,21.0,6.0,166998,18528.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4475.0,10.0,53504,57240.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,3252.0,1.0,115109,2307.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,859.0,1.0,88355,6507.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,770.0,4.0,74489,57775.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8727.0,2.0,37904,4459.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,170.0,4.0,162810,4899.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [58]:
### FREQUENCY ENCODING
# size of each category
encoding = Xtest.groupby('Username').size()
# get frequency of each category
Xtest['UsernameEnc'] = Xtest.Username.map(encoding)

In [59]:
Xtest.head()

,Reputation,Answers,Username,Views,Tag0,Tag1,Tag2,Tag3,Tag4,Tag5,Tag6,Tag7,Tag8,UsernameEnc
0,5645.0,3.0,50652,33200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,24511.0,6.0,37685,2730.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
2,927.0,1.0,135293,21167.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,21.0,6.0,166998,18528.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,4475.0,10.0,53504,57240.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3

In [69]:
colnames = list(Xtest)

In [60]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

In [64]:

scaler  =  StandardScaler().fit(Xtest)
rescaledX = scaler.transform(Xtest)
# transform the validation dataset
rescaledValidationX = scaler.transform(Xtest)

In [68]:
rescaledValidationX.shape

(141448, 14)

In [70]:
testdata_df = pd.DataFrame(rescaledValidationX, columns=colnames)

In [71]:
testdata_df.to_csv('TestDataDF.csv')